<!--
 * This web app creates a website of a fictional boat marina company allowing users to learn about the company,
 * see contact information, see available slips with the option of selecting them by dock
 * This is a body part of the Contact Info page of the website (responsive page design is implemented throughout)
 * Author: Marat Nikitin
 * SAIT, OOSD course, CPRG-214 .NET Web Applications course
 * When: February 2022
-->


@{
    ViewData["Title"] = "Contact Info";
}

<div class="container">
    <h1 class="text-center my-4 text-primary">  Contact Information:  <i class="far fa-address-card ml-2"></i> </h1>

    <div class="offset-sm-2">
        <div class="my-4">
            <i class="far fa-envelope-open text-primary mr-2"></i> Inland Lake Marina: <br />
            Box 123, <br />
            Inland Lake, Arizona, USA <br />
            86038 <br />
        </div>
        <div class="my-4">
            <i class="fa fa-phone text-primary mr-2"></i> Office phone: 928-555-2234 <br />
            <i class="far fa-address-card text-primary mr-2"></i> Leasing phone: 928-555-2235 <br />
            <i class="fas fa-fax text-primary mr-2"></i> Fax: 928-555-2236 <br />
        </div>
        <div class="my-4">
            <i class="fas fa-user-tie text-primary mr-2"></i>Manager: Glenn Cooke <br />
            <i class="far fa-address-book text-primary mr-2"></i>Slip Manager: Kimberley Carson <br />
            <i class="far fa-envelope-open text-primary mr-2"></i> Contact e-mail: info@inlandmarina.com <br />
        </div>

    </div>
</div>


