@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-primary text-center my-5">It's an app built inspired by a Udemy's Blazor learning course</h1>
<h3 class="text-success text-center my-5">Check out the other tabs on the left</h3>

