@*
 * This app is built based on Udemy's Blazor Learning course, part of the self-study.
 *      It allows a full range of CRUD operations with a SQL Server DB and demonstrates Javascript integrations
 *      into the Blazor Server projects.
 * Author: Marat Nikitin.
 * When: July 2022.
 * This file is used for creating the main page of the application.
*@

@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-primary text-center my-5">It's an app built inspired by a Udemy's Blazor learning course</h1>
<h3 class="text-success text-center my-5">Check out the other tabs on the left</h3>

