<!--
 * This web app creates a website of a fictional boat marina company allowing users to learn about the company,
 * see contact information, see available slips with the option of selecting them by dock
 * This is a body part of the Home Page of the website (responsive page design is implemented throughout)
 * Author: Marat Nikitin
 * SAIT, OOSD course, CPRG-214 .NET Web Applications course
 * When: February 2022
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-justify text-center mx-sm-5 px-sm-5 h-auto bg-transparent py-0 my-0">
        <img src="~/Pictures/Marina.png" style="width:80%" />
    </div>
</div>
<div class="container">

    <h1 class="text-center mt-4 text-primary">About Us <i class="far fa-compass ml-2"></i></h1>
    <div class="my-4 text-justify">
        Welcome to Inland Marina located on the south shore Inland Lake, just a small commute from major
        centers in the southwest.
    </div>
    <div class="text-justify">
        Inland Marina was established in the 1967 shortly after Inland Lake was created as a result of the
        Southwest dam. From its humble beginnings, it has grown to be the largest marina on Inland Lake. Due
        to the warm climate that extends year-round, Inland Lake has become a popular tourist destination in
        the southwest. Boat owners from California, Arizona, Nevada, and Utah are attracted to the area.
        Inland Marina has 90 slips ranging in size from 16 to 32 feet in length. Dock services include electrical
        and fresh water.
    </div>
</div>



