<!-- Marat Nikitin, CPRG 210 - Web Application Concepts, Day 8-13 Node.js - Daily Exercises, November 2021 -->

<!DOCTYPE html>
<html> 
	<head>
		 <title> ejs - About</title>
		<style>
		* {
			text-align: center;
			font-family: "Arial", sans-serif;
			background-color: cornsilk;
			color: maroon;
		}
		#div1 {
			font-size: 40px;
			margin-top: 15%;
		}
		#div2 {
			font-size: 20px;
		}
		footer {
			padding: 20px;
			position: fixed;
			bottom: 0;
			text-align: center;
			width: 100%; 
		}
		</style>	
	</head>
	<body>
		<div id = "div1"> About us: </div> <br> <br>
		<div id = "div2">Our company has been proudly serving our clients since 1987. </div> <br>
	
				
		<footer> &copy; Copyright 2021. All rights reserved. </footer>
	</body>
</html>

