<!-- Marat Nikitin, CPRG 210 - Web Application Concepts, Day 8-13 Node.js - Daily Exercises, November 2021 -->

<!DOCTYPE html>
<html> 
	<head>
		 <title> ejs - Contact Info </title>
		 <!-- All the CSS styles are in the separate 'styles.css' file -->
		<link rel="stylesheet" type="text/css" href="styles.css" />	
	</head>
	
	<body>
		<div id = "p1"> Contact Information </div> <br>
		
		<h2> Travel Experts &trade; </h2> <!-- Practicing a special TM symbol here -->
		
		<!-- A random address to practice other features on it -->
		<p id="p3"> 
			15 Beddington Way NE <br>
			Calgary, AB, Canada, T3K 1M9 <br>
			Phone +1-403-966-1000
		</p><br>
		
		<h2> Your Travel Agents: </h2>
		
		<!-- Random made-up names and contact information are presented below for demonstration purposes -->
		<div id = "ul1">
			<ul> 
				<li> James McEwan, <br> +1-403-966-1001,<br>  james.mcewan@travelexperts.ca </li> <br>
				<li> Jessica Thompson, <br> +1-403-966-1002,<br>  jessica.thompson@travelexperts.ca </li> <br>
				<li> Hillary Johnson, <br> +1-403-966-1003,<br>  hillary.johnson@travelexperts.ca </li> <br>
			</ul>
		</div> <br>
		
		<!-- This webpage doesn't have much content in it, so the footer below is given an id to pin 
			the footer at the bottom of the page using CSS -->
		<footer id="contactpagefooter"> &copy; Copyright 2021 by Travel Experts. All rights reserved. </footer>
	</body>
</html>

