<!-- Marat Nikitin, CPRG 210 - Web Application Concepts, Day 8-13 Node.js - Daily Exercises, November 2021 -->

<!DOCTYPE html>
<html> 
	<head>
		 <title> ejs - 404 Error</title>
		<style>
		* {
			text-align: center;
			font-family: "Arial", sans-serif;
			background-color: cornsilk;
			color: maroon;
		}
		#div1 {
			font-size: 40px;
			margin-top: 10%;
		}
		#div2 {
			font-size: 20px;
		}
		footer {
			padding: 20px;
			position: fixed;
			bottom: 0;
			text-align: center;
			width: 100%; 
		}
		</style>	
	</head>
	<body>
		<div id = "div1"> Error 404 - Page Not Found </div> <br>
		<div id = "div2"> Please return to the previous page </div> <br>
		<img id = "img1" src = "media/error404.png" />
				
		<footer> &copy; Copyright 2021. All rights reserved. </footer>
	</body>
</html>

