@*
 * This app is built based on Udemy's Blazor Learning course, part of the self-study.
 *      It allows a full range of CRUD operations with a SQL Server DB and demonstrates Javascript integrations
 *      into the Blazor Server projects.
 * Author: Marat Nikitin.
 * When: July 2022.
 * This file is a partial component used for demonstrating usage of a child component.
*@

<div>
    <h4 class="text-primary pt-3"> Another Child Component </h4>
    <input id="nametemp" @attributes="InputAttributes" class="form-control"/>
</div>

@code {
    //[Parameter]
    //public string Placeholder { get; set; } = "Initial Text";

    //[Parameter]
    //public string Required { get; set; } = "required";

    //[Parameter]
    //public string MaxLength { get; set; } = "10";

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required"},
        {"placeholder", "Initial Text"},
        {"maxlength", 10}
    };
}
