<div>
    <h4 class="text-primary pt-3">Another Child Component</h4>
    <input id="nametemp" style="width: 300px;" @attributes=@InputAttributesFromParentDict />
</div>

@code {
    //[Parameter]
    //public string Placeholder { get; set; } = "Initial text";
    //[Parameter]
    //public string Required { get; set; } = "required";
    //[Parameter]
    //public string MaxLength { get; set; } = "10";

    //[Parameter]
    //public Dictionary<string, object> InputAttributesDict { get; set; } = new()
    //{
    //    {"required", "required"},
    //    {"placeholder", "Initial text"},
    //    {"maxlength", 5},
    //};

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributesFromParentDict { get; set; } = new();
}
