@page "/learnBlazor/demoproduct"

<h2 class="text-primary">Demo Product</h2>

<div class="border p-2 mt-2" style="background-color:azure">
    <div class="row">
        @foreach (var product in Products)
        {
            <IndividualProduct ProductParam=@product/>
        }
    </div>
    
</div>


@code {
    DemoProduct product = new()
        {
            Id = 1,
            Name = "Rose Candle",
            IsActive = true,
            Price = 10.99,
            ProductProperties = new List<DemoProductProperties>()
            {
                new DemoProductProperties {Id = 1, Key = "Colour", Value = "Black"},
                new DemoProductProperties {Id = 1, Key = "Flavour", Value = "Rose"},
                new DemoProductProperties {Id = 1, Key = "Size", Value = "20 oz"},
            }
        };

    private string selectedProperty = "";

    List<DemoProduct> Products = new();

    protected override void OnInitialized()
    {
        Products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,
                Price = 10.99,
                ProductProperties = new()
            {
                new DemoProductProperties{ Id = 1, Key = "Flavour", Value = "Rose"},
                new DemoProductProperties{ Id = 2, Key = "Size", Value = "20 oz"},
                new DemoProductProperties{ Id = 3, Key = "Colour", Value = "Purple"}
            }
            });

        Products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 13.99,
                ProductProperties = new()
            {
                new DemoProductProperties{ Id = 1, Key = "Flavour", Value = "Lily"},
                new DemoProductProperties{ Id = 2, Key = "Size", Value = "18 oz"},
                new DemoProductProperties{ Id = 3, Key = "Colour", Value = "White"}
            }
            });

        Products.Add(new()
            {
                Id = 3,
                Name = "Jasmine Tea",
                IsActive = false,
                Price = 11.99,
                ProductProperties = new()
            {
                new DemoProductProperties{ Id = 1, Key = "Flavour", Value = "Jasmine"},
                new DemoProductProperties{ Id = 2, Key = "Size", Value = "15 oz"},
                new DemoProductProperties{ Id = 3, Key = "Colour", Value = "Pink"}
            }
            });
    }
}

